body {
	background-image: url("https://static1.educaedu-brasil.com/logos/23/2119.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
}

div{
	width: 50px;
	height: 25px;
	margin: 5px;
	border: 4px black dashed;
}
#div1{
	background-color: yellow;
}
#div2{
	background-color: #c1a4cd;
	background-clip: padding-box;
}
#div3{
	background-image: url("https://static1.educaedu-brasil.com/logos/23/2469.jpg");
	background-repeat: no-repeat;
}
#div4{
	background-image: url("https://static1.educaedu-brasil.com/logos/23/2635.png");
	background-repeat: no-repeat;
	background-origin: border-box;
}
#div5{
	background-image: url("https://static1.educaedu-brasil.com/logos/23/2476.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#div6{
    outline-style: solid;
	outline-color: red;
	outline-width: 4px;
}
#div7{
    outline-style: dashed;
	outline-color: blue;
	outline-width: 2px;
	outline-offset: -20px;
}
#div8{
	outline-style: solid;
	outline-color: green;
	outline-width: 4px;
	outline-offset: 20px;
}